.sect
  width 100%

  .title
    color $white
    font-weight bold
    opacity 0.6
    display block
    width 100%
    background-color darken($blue, 15%);
    padding 5px
    text-indent 10px

    .fa
      float right
      padding-right 15px

  .items
    display flex
    flex-direction column

    &.disabled
      display none
