<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='../resources/styles/index.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='app'>
      <div class='head'>
        <div class='search'><div class='input' contenteditable='true'></div><div class='icon'></div></div>
        <div class='title dragable'>Pheo Preview - Custom UI Demo</div>
        <div class='tools'>
          <div class='close'></div>
          <div class='minimize'></div>
          <div class='maximize'></div>
        </div>
      </div>

      <div class='container'>
        <div class='nav'></div>
        <div class='body'></div>
      </div>


    </div>
  </body>
</html>
