<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vint</title>
    <link href='../resources/styles/index.css' rel='stylesheet' type='text/css'>
    <script>
    window.$ = window.jQuery = require('../resources/scripts/jquery.js');
    </script>
    <script src='../resources/scripts/index.js'></script>
  </head>
  <body>

    <div class='column left item'></div>

    <div class='column body'>

      <div class='chat'>
      </div>

      <div class='input-container'><div class='wrap'>
        <div class='main input' contenteditable='true'></div>
      </div></div>
    </div>

    <div class='column right item'></div>

  </body>
</html>
