// main: ../index.styl
.app-control
  display flex
  width 81px
  height 100%
  margin-right 5px

  // Elements
  > .action
    display block
    width 11px
    height 11px
    margin 12px 8px
    border-radius 50%

    &.-close
      background-color:#e74c3c;

    &.-min
      background-color:#ffca45;

    &.-max
      background-color:#2ecc71;
