// main: ../index.styl
.app-body
  display flex
  align-items flex-start
  width 100%
  height calc(100% - 25px)

  &.-active > .app-side
    > .side-head > .option.-current
      transform rotate(180deg)
    > .side-head > .option.-change
      opacity 0
    > .side-pages > .page-expander
      left -100%
