// main: ../index.styl
.app-master
  box-sizing border-box
  overflow hidden
  display flex
  flex-direction column
  align-items flex-start
  border 1px solid rgba(0,0,0,0.3)
  border-radius 5px

  // Variants
  &.-maximized
    border 0
    border-radius 0

  &.-simple
    border 0
    border-radius 0

    > .app-body
      height 100%
      > .app-side
        background-color #141414
    > .app-head
      display none
