// main: ../index.styl
.side-head
  display flex
  width 100%
  height 40px
  background-color #2d2d2d
  -webkit-user-select none

  > .title
    display inline-block
    width 100%
    color #FFF
    text-align center
    font-size 16px
    padding 12px

  > .option
    display inline-block
    width 20px
    height 20px
    margin 10px 15px
    background-size 100% 100%
    transition all 300ms

    &.-current
      background-image url('../images/right.svg')

    &.-change
      background-image url('../images/gear.svg')
