html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
.app {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 5px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.57);
}
.dragable {
  -webkit-app-region: drag;
}
.undragable {
  -webkit-app-region: none !important;
}
.head {
  background-color: #131313;
  color: #dbdbdb;
  width: 100%;
  height: 45px;
}
.head > div {
  display: inline-block;
  float: left;
}
.head .search {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 230px;
  height: 25px;
}
.head .search .icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  left: 7px;
  background-image: url("../images/search-icon.svg");
  background-size: 100% 100%;
}
.head .search .input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 30px;
  background-color: #1c6da8;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
}
.head .title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 110px;
  text-align: center;
  font-size: 16px;
  line-height: 45px;
}
.head .tools {
  position: absolute;
  width: 80px;
  top: 0;
  bottom: 0;
  right: 0;
  padding-right: 5px;
}
.head .tools > div {
  display: inline-block;
  float: left;
  width: 10px;
  height: 10px;
  margin: 18px 5px;
  border-radius: 10px;
  cursor: -webkit-drag;
}
.head .tools .close {
  background-color: #cf000f;
}
.head .tools .minimize {
  background-color: #f7ca18;
}
.head .tools .maximize {
  background-color: #26a65b;
}
.container {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
}
.container .body {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;
  background-color: #dbdbdb;
}
.container .nav {
  position: absolute;
  height: 100%;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.84);
}
