// out: index.css

$s-pro = 'Source Sans Pro', sans-serif

html, body
  width 100%
  height 100%
  margin 0
  padding 0
  font-family $s-pro

.app
  box-sizing border-box
  position absolute
  top 0; bottom 0
  left 0px; right 0px
  height 100%
  width 100%

.dragable
  -webkit-app-region drag

.undragable
  -webkit-app-region none !important


.head
  background-color #131313
  color #dbdbdb
  width 100%
  height 45px
  border-bottom 2px solid rgba(#fff, 0.2)

  > div
    display inline-block
    float left

  .search
    position absolute
    top 10px
    left 10px
    width 230px
    height 25px
    line-height @height
    z-index 666

    .icon
      position absolute
      width 15px
      height 15px
      top 5px
      left 7px
      background-image url(../images/search-icon.svg)
      background-size 100% 100%

    .input
      width 100%
      height 100%
      border-radius 10px
      padding-left 30px
      background-color rgb(28, 109, 168)
      box-sizing border-box
      outline none
      font-size 10px


  .title
    position absolute
    top 0; bottom 0
    left 250px; right 75px
    text-align center
    font-size 16px
    font-weight 300
    line-height @height


  .tools
    position absolute
    width 60px
    top 0; bottom 0
    right 0
    padding-right 15px

    > div
      display inline-block
      float left
      width 10px
      height @width
      margin 18px 5px
      border-radius 10px
      cursor -webkit-drag

    .close
      background-color #CF000F

    .minimize
      background-color #F7CA18

    .maximize
      background-color #26A65B


.container
  position absolute
  top 45px; bottom 0
  left 0; right 0

  .body
    position absolute
    height 100%
    top 0; bottom 0
    left 250px; right 0
    background-color #dbdbdb

  .nav
    position fixed
    height 100%
    width 250px
    top 0; bottom 0
    left 0
    padding-bottom 1px
    background-color rgba(0, 0, 0, 0.84)
