.app-body {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - 25px);
}
.app-body.-active > .app-side > .side-head > .option.-current {
  transform: rotate(180deg);
}
.app-body.-active > .app-side > .side-head > .option.-change {
  opacity: 0;
  pointer-events: none;
}
.app-body.-active > .app-side > .side-pages > .page-expander {
  left: -100%;
}
.app-chat {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
}
.app-control {
  display: flex;
  width: auto;
  min-width: auto;
  height: 100%;
  margin-right: 5px;
}
.app-control > .action {
  display: block;
  min-width: 11px;
  min-height: 11px;
  width: 11px;
  height: 11px;
  max-width: 11px;
  max-height: 11px;
  margin: 12px 8px;
  border-radius: 50%;
}
.app-control > .action.-close {
  background-color: #e74c3c;
}
.app-control > .action.-min {
  background-color: #ffca45;
}
.app-control > .action.-max {
  background-color: #2ecc71;
}
.app-global {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: none;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  transition: background 200ms;
}
::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
}
*:hover::-webkit-scrollbar {
  background-color: rgba(0,0,0,0.4);
}
.app-head {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 35px;
  background-color: #16131f;
}
.app-head > .title {
  -webkit-app-region: drag;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 15px;
  padding: 9px 0;
}
.app-head > .filler {
  width: 81px;
  height: 100%;
}
.app-master {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}
.app-master.-maximized {
  border: 0;
  border-radius: 0;
}
.app-master.-simple {
  border: 0;
  border-radius: 0;
}
.app-master.-simple > .app-body {
  height: 100%;
}
.app-master.-simple > .app-body > .app-side {
  background-color: #141414;
}
.app-master.-simple > .app-head {
  display: none;
}
.app-side {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 300px;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  overflow: none;
}
.page-expander {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200%;
  transition: left 400ms;
  overflow: hidden;
}
.page-expander > .page {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  float: left;
  overflow: auto;
}
.page-expander > .page.-groups {
  padding-bottom: 15px;
}
.page-group {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  transition: background 100ms;
}
.page-group > .icon {
  float: left;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
  border-radius: 3px;
}
.page-group > .name {
  float: left;
  width: 100%;
  font-size: 15px;
  color: #fff;
  padding: 11px 0;
}
.page-group:hover {
  background-color: #383838;
}
.side-head {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #2d2d2d;
  -webkit-user-select: none;
}
.side-head > .title {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 12px;
}
.side-head > .option {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px 15px;
  background-size: 100% 100%;
  transition: all 300ms;
}
.side-head > .option.-current {
  background-image: url("../images/right.svg");
}
.side-head > .option.-change {
  opacity: 1;
  background-image: url("../images/gear.svg");
}
.side-pages {
  position: relative;
  display: block;
  width: auto;
  height: 100%;
  overflow-x: hidden;
}
