
$s-pro = 'Source Sans Pro', sans-serif
$lato = 'Lato', sans-serif

html, body
  width 100%; height 100%
  margin 0; padding 0
  overflow hidden
  font-family $s-pro

.app
  display flex; flex-direction column
  height 100%
.dragable
  -webkit-app-region drag
.undragable
  -webkit-app-region none !important

.headbar
  width 100%
  height 45px
  color #fff
  background-color darken(#566d85, 80%)
  .app-title
    margin 0; padding 0
    line-height @height
    text-align center
    font-weight 300
    font-size 25px
  .search
    float left
    position relative
    height 45px
    margin -45px 0px 0px 0px
    background-color #34495e
    input
      text-indent 30px
    .ti-search
      line-height @height
      font-size 15px
  .window-controls
    float right
    line-height @height
    margin (@height * -1)px 15px 0px 0px
    > div
      display inline-block
      width 10px; height @width
      margin 18px 5px
      border-radius 10px
      cursor -webkit-drag

    .close
      background-color #CF000F
    .minimize
      background-color #F7CA18
    .maximize
      background-color #26A65B

.main
  display flex
  flex 1
  background-color #ecf0f1
  .content
    flex 1

  .navbar
    order -1
    width 200px
    background-color rgba(darken(#bdc3c7, 80%), 50)
    .navbar-section
      margin-top 5px
      .section-title
        margin 0px; padding 10px 0px
        color #fff
        text-transform uppercase
        font-family $lato
        font-size 14px
        font-weight 300
        text-indent 8px

.list-group
  .group-item
    background-color rgba(#fff, 20%)
    height 35px; line-height @height - 5px
    padding-left 8px
    border-bottom 1px solid rgba(#fff, 0.05)
    .group-icon
      width 10%
      border-radius 100%
      vertical-align middle
    .group-title
      font-size 12px
      color #fff
